@import "tailwindcss";

@layer components {
    .navbar {
        @apply bg-slate-950 text-white p-4 flex flex-col md:flex-row justify-between items-center h-screen md:h-32 md:fixed inset-x-0 z-1 shadow-lg;
    }

    .navbar a {
        @apply hover:text-slate-950 hover:bg-gray-300 px-4 py-2 hover:font-bold transition-colors duration-300 rounded-md;
    }

    .header {
        @apply flex flex-col items-center justify-center text-center p-8 bg-gray-100  shadow-lg h-screen gap-y-4;
    }

    .header img{
        @apply rounded-full w-64 h-64 border-y-[16px] border-orange-600 border-dotted animate-pulse;
    }

    

    .header h1 {
        @apply text-4xl font-bold uppercase text-slate-950;
    }

    .header p {
        @apply text-lg text-gray-700 max-w-2xl mx-auto md:text-2xl;
    }

    .projects {
        @apply grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 md:grid-rows-3 gap-x-6 p-8;
    }

    .project{
        @apply bg-white hover:bg-slate-950 hover:text-slate-100 rounded-lg shadow-2xl p-6 hover:shadow-lg transition-shadow duration-300 ;
    }
}

@layer base{
    h2{
        @apply text-3xl font-bold text-slate-950 mb-4 text-center capitalize;
    }
    #about div{
        @apply bg-slate-950 grid md:grid-cols-3 sm:grid-cols-2 grid-cols-1 gap-4 p-8 text-white rounded-t-3xl shadow-lg text-xl;
    }

    .project a{
        @apply text-orange-700 hover:border-b-4 visited:border-b-gray-900 font-bold transition-colors duration-300;
    }
    form{
        @apply max-w-4/5 mx-auto bg-white p-8 rounded-lg shadow-2xl;
    }

    form label, form input, form textarea {
        @apply block text-gray-700 font-bold mb-2 w-full;
    }

    form input, form textarea {
        @apply border border-gray-300 p-2 rounded-md mb-4 focus:outline-none focus:ring-2 focus:ring-orange-500;
    }

    form button{
        @apply bg-orange-500 text-white font-bold py-2 px-4 rounded-md hover:bg-orange-600 transition-colors duration-300 cursor-pointer;
    }

    #contact{
        @apply bg-slate-950 text-white p-8 rounded-t-3xl ;
    }

    #contact h2 {
        @apply text-slate-100;
    }

    article{
        background-color: green;
        height: 400px;
        clip-path: polygon(10% 25%, 10% 0, 35% 0%, 65% 0%, 90% 0, 90% 25%, 90% 50%, 88% 50%, 89% 100%, 54% 100%, 54% 48%, 10% 49%);
    }
}

@layer components {
    .btn {
        @apply w-full h-16 text-3xl hover:border-slate-950 rounded-lg cursor-pointer hover:border-4
    }
}